@import "tailwindcss";

@theme {
  --darkred: #8F2828;
}
.bg-darkred {
  background-color: var(--darkred);
}
.text-darkred {
  color: var(--darkred);
}




.nav-link {
  position: relative;
  padding-bottom: 4px; /* space for the underline */
  transition: color 0.2s;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.3s cubic-bezier(0.4,0,0.2,1);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

h1, h2, h3{
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
p, span{
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
li{
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 span {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}